name: Auto-Redact Secrets

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

permissions:
  contents: write
  pull-requests: write

jobs:
  sanitize:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Redact secrets (password, ssid)
        run: |
          echo "Running secret redaction..."

          find . -type f -not -path "./.git/*" -print0 | while IFS= read -r -d '' file; do
            if file "$file" | grep -qE 'text|JSON|Python|script|markup'; then
              sed -i -E \
                -e "s/(const[[:space:]]+\**[[:space:]]*([Pp]assword|pwd)[[:space:]]*=[[:space:]]*)\"[^\"]+\"/\1\"***\"/g" \
                -e "s/(const[[:space:]]+\
